<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senati.apptareas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="appTareas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <!-- 1. Pantalla de Carga (Splash Screen) - Punto de entrada -->
        <activity
            android:name=".actividades.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Pantalla de Inicio de Sesión -->
        <activity
            android:name=".actividades.LoginActivity"
            android:exported="false" />

        <!-- 3. Pantalla de Registro de Usuario -->
        <activity
            android:name=".actividades.RegistroActivity"
            android:exported="false" />

        <!-- 4. Pantalla Principal (Lista y Filtros de Tareas) -->
        <activity
            android:name=".actividades.MainActivity"
            android:exported="false" />

        <!-- 5. Pantalla de Formulario (Crear/Editar Tarea) -->
        <activity
            android:name=".actividades.FormularioActivity"
            android:exported="false" />

    </application>

</manifest>