<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="appTareas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <!-- Pantalla de inicio -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Registro de usuario -->
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Formulario de tareas -->
        <activity
            android:name=".FormularioActivity"
            android:exported="false" />

    </application>

</manifest>